services:
  kestra:
    image: kestra/kestra:latest
    container_name: kestra
    command: server standalone
    ports:
      - "8080:8080"
    environment:
      # Secrets (Base64 encoded)
      SECRET_CLEARPERKS_API_URL: aHR0cHM6Ly9pYW1wcmF0aGFtMjktY2xlYXItcGVya3MtYmFja2VuZC5oZi5zcGFjZQ==
      SECRET_INTERNAL_KESTRA_API_KEY: Y2hhbmdlbWU=

      KESTRA_CONFIGURATION: |
        datasources:
          postgres:
            url: jdbc:postgresql://aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres
            driverClassName: org.postgresql.Driver
            username: postgres.iineirmxjuevguwhcxjv
            password: EasyCode#2025

        flyway:
          datasources:
            postgres:
              baseline-on-migrate: true

        kestra:
          repository:
            type: postgres

          queue:
            type: postgres

          storage:
            type: local
            local:
              base-path: /app/storage

          server:
            basic-auth:
              enabled: false
            ui:
              enabled: true

        micronaut:
          server:
            port: 8080
    volumes:
      - kestra-data:/app/storage

volumes:
  kestra-data:
